.addTodoFormWrap{
    position: fixed;
    width: 96%;
    max-width: 400px;
    height: 400px;
    bottom: 2%;
    right: 2%;
     border: 1px solid black;
     border-radius: 3px;
     padding: 1%;
     background-color: #ffffff;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.mark{
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: lightgray;
    cursor: pointer;
}
.input{
    margin: 10px;
    resize: none; 
}
.material-icons{
    cursor: pointer;
}
 .selected{
     background-color: #5707EB;
     color: #Ffffff;
 }
 textarea{
    resize: none; 
    max-height: 50px;
 }